@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Poppins:wght@500;600;700&family=Volkhov:wght@700&display=swap');

// Fonts
$openSans: 'Open Sans', sans-serif;
$volkhov: 'Volkhov', serif;
$poppins: 'Poppins', sans-serif;

// Colors
$white: #ffffff;
$primary: #212832;
$blueDark: #181e4b;
$coral: #df6951;
$grey: #5e6282;
$yellow: #f1a501;
$black: #080809;
$pinkLight: #efe9ff;
