@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Poppins:wght@500;600;700&family=Volkhov:wght@700&display=swap");
@-webkit-keyframes open {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
@keyframes open {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes open-after {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@keyframes open-after {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@-webkit-keyframes close {
  from {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes close {
  from {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes close-after {
  from {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
}

@keyframes close-after {
  from {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

@media (max-width: 75rem) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.navbar--small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 75rem) {
  .navbar--small {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__menu--large {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 75rem) {
  .navbar__menu--large {
    display: none;
  }
}

.navbar__menu--small {
  display: none;
}

@media (max-width: 75rem) {
  .navbar__menu--small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navbar__menu-logo {
  padding: 0 3.25rem 0 15%;
}

.navbar__menu-hamburger {
  width: 1.65rem;
  height: 0.1875rem;
  border-radius: 4rem;
  background: #212832;
  position: relative;
  display: none;
  -webkit-animation-name: close;
          animation-name: close;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
}

@media (max-width: 75rem) {
  .navbar__menu-hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navbar__menu-hamburger-container {
  height: 1.8rem;
  width: 1.65rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8%;
}

.navbar__menu-hamburger::before, .navbar__menu-hamburger::after {
  width: 1.65rem;
  height: 0.1875rem;
  border-radius: 4rem;
  background: #212832;
  content: '';
  position: absolute;
}

.navbar__menu-hamburger::before {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.navbar__menu-hamburger::after {
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
  -webkit-animation-name: close-after;
          animation-name: close-after;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.navbar__menu-hamburger--open {
  -webkit-animation-name: open;
          animation-name: open;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.navbar__menu-hamburger--open::before {
  display: none;
}

.navbar__menu-hamburger--open::after {
  -webkit-animation-name: open-after;
          animation-name: open-after;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.navbar__menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 75rem) {
  .navbar__menu-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 3rem;
  }
}

.navbar__menu-element {
  color: #212832;
  font-size: 1.125rem;
  font-weight: 600;
  cursor: pointer;
  margin-right: 3.125rem;
}

@media (max-width: 75rem) {
  .navbar__menu-element {
    margin: 0 0 0.5rem 0;
  }
}

.navbar__btn {
  color: #212832;
  font-size: 1.125rem;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  background: none;
  cursor: pointer;
  margin-right: 1.75rem;
}

@media (max-width: 75rem) {
  .navbar__btn {
    margin: 0 0 1rem 0;
  }
}

.navbar__btn--sign-up {
  padding: 0.5rem 1.25rem;
  border-radius: 0.3125rem;
  border: 1.5px solid #212832;
}

@media (max-width: 75rem) {
  .navbar__btn--sign-up {
    width: 75%;
    margin: 0 auto;
  }
}

.navbar__btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 250px;
}

@media (max-width: 75rem) {
  .navbar__btn-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1.5rem 0 0;
    min-width: 150px;
  }
}
/*# sourceMappingURL=navbar.css.map */