@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Poppins:wght@500;600;700&family=Volkhov:wght@700&display=swap");
@-webkit-keyframes open {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
@keyframes open {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes open-after {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@keyframes open-after {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@-webkit-keyframes close {
  from {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes close {
  from {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes close-after {
  from {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
}

@keyframes close-after {
  from {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
}

.testimonial {
  max-width: 504px;
  background: #ffffff;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 0.625rem;
  position: relative;
  padding: 1rem 2rem 2rem 2rem;
}

.testimonial__image {
  width: 3rem;
  top: -1.5rem;
  left: -1.5rem;
  position: absolute;
}

.testimonial__text {
  color: #5e6282;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 2rem;
  padding-bottom: 1.7rem;
}

@media (max-width: 50rem) {
  .testimonial__text {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
}

.testimonial__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testimonial__person-name {
  color: #5e6282;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.6875rem;
}

@media (max-width: 50rem) {
  .testimonial__person-name {
    font-size: 1rem;
  }
}

.testimonial__person-place {
  color: #5e6282;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.3125rem;
}
/*# sourceMappingURL=testimonial.css.map */