@import 'index.scss';

* {
    font-size: 100%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

a,
a:visited,
a:link,
a:hover {
    color: unset;
    text-decoration: none;
    list-style: none;
}

body {
    font-size: 16px;
    font-family: $openSans;
    scroll-behavior: smooth;
}

h1 {
    color: $blueDark;
    font-size: 5.25rem;
    font-weight: 700;
    font-family: $volkhov;
    line-height: 5.7rem;

    @include breakpointMax(md) {
        font-size: 3.8rem;
        line-height: 4.5rem;
    }

    @include breakpointMax(sm) {
        font-size: 3rem;
        line-height: 4rem;
    }
}

.category {
    color: $grey;
    font-size: 1.125rem;
    font-weight: 600;
    font-family: $poppins;
    text-align: center;
    line-height: 1.6875rem;

    &--testimonials {
        text-align: left;

        @include breakpointMax(lg) {
            text-align: center;
        }
    }
}

.heading {
    color: $blueDark;
    font-size: 3.125rem;
    font-weight: 700;
    font-family: $volkhov;
    line-height: 4rem;
    text-align: center;
    text-transform: capitalize;

    @include breakpointMax(md) {
        font-size: 2.3rem;
        line-height: 3rem;
    }

    @include breakpointMax(sm) {
        font-size: 2rem;
        line-height: 2.6rem;
    }

    &--bookings {
        max-width: 80%;
        margin: 0 auto;
    }

    &--testimonials {
        text-align: left;
        max-width: 80%;

        @include breakpointMax(lg) {
            text-align: center;
            max-width: 100%;
        }
    }

    &-container {
        display: flex;
        flex-direction: column;
        row-gap: 0.8rem;
    }
}

.decorator {
    position: absolute;
    z-index: -1;

    &--first {
        top: 0;
        right: 0;

        @include breakpointMax(md) {
            transform: scale(0.6);
            transform-origin: top right;
        }
    }

    &--second {
        top: 0;
        right: 4%;

        @include breakpointMax(md) {
            display: none;
        }
    }
}
