@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Poppins:wght@500;600;700&family=Volkhov:wght@700&display=swap");
@-webkit-keyframes open {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
@keyframes open {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes open-after {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@keyframes open-after {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@-webkit-keyframes close {
  from {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes close {
  from {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes close-after {
  from {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
}

@keyframes close-after {
  from {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
}

* {
  font-size: 100%;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a,
a:visited,
a:link,
a:hover {
  color: unset;
  text-decoration: none;
  list-style: none;
}

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

h1 {
  color: #181e4b;
  font-size: 5.25rem;
  font-weight: 700;
  font-family: "Volkhov", serif;
  line-height: 5.7rem;
}

@media (max-width: 50rem) {
  h1 {
    font-size: 3.8rem;
    line-height: 4.5rem;
  }
}

@media (max-width: 28.125rem) {
  h1 {
    font-size: 3rem;
    line-height: 4rem;
  }
}

.category {
  color: #5e6282;
  font-size: 1.125rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-align: center;
  line-height: 1.6875rem;
}

.category--testimonials {
  text-align: left;
}

@media (max-width: 75rem) {
  .category--testimonials {
    text-align: center;
  }
}

.heading {
  color: #181e4b;
  font-size: 3.125rem;
  font-weight: 700;
  font-family: "Volkhov", serif;
  line-height: 4rem;
  text-align: center;
  text-transform: capitalize;
}

@media (max-width: 50rem) {
  .heading {
    font-size: 2.3rem;
    line-height: 3rem;
  }
}

@media (max-width: 28.125rem) {
  .heading {
    font-size: 2rem;
    line-height: 2.6rem;
  }
}

.heading--bookings {
  max-width: 80%;
  margin: 0 auto;
}

.heading--testimonials {
  text-align: left;
  max-width: 80%;
}

@media (max-width: 75rem) {
  .heading--testimonials {
    text-align: center;
    max-width: 100%;
  }
}

.heading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.8rem;
}

.decorator {
  position: absolute;
  z-index: -1;
}

.decorator--first {
  top: 0;
  right: 0;
}

@media (max-width: 50rem) {
  .decorator--first {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    -webkit-transform-origin: top right;
            transform-origin: top right;
  }
}

.decorator--second {
  top: 0;
  right: 4%;
}

.decorator--fifth {
  z-index: 0;
  left: 0;
  bottom: 0;
}

.decorator--sixth {
  z-index: 0;
  right: 0;
  top: 0;
}

@media (max-width: 50rem) {
  .decorator--second, .decorator--fifth, .decorator--sixth {
    display: none;
  }
}
/*# sourceMappingURL=app.css.map */