@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Poppins:wght@500;600;700&family=Volkhov:wght@700&display=swap');

// Fonts
$openSans: 'Open Sans', sans-serif;
$volkhov: 'Volkhov', serif;
$poppins: 'Poppins', sans-serif;

// Colors
$white: #ffffff;
$primary: #212832;
$blueDark: #181e4b;
$coral: #df6951;
$grey: #5e6282;
$yellow: #f1a501;
$black: #080809;

// Animations
@keyframes open {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(45deg);
    }
}

@keyframes open-after {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(90deg);
    }
}

@keyframes close {
    from {
        transform: rotate(45deg);
    }
    to {
        transform: rotate(0);
    }
}

@keyframes close-after {
    from {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(0);
        transform: translateY(0.5rem);
    }
}

//RWD 450px, 800px, 1200px, 1400px
$breakpoints: (
    'sm': '28.125rem',
    'md': '50rem',
    'lg': '75rem',
    'xl': '87.5rem',
);

@mixin breakpointMax($screen-size) {
    @media (max-width: map-get($breakpoints, $screen-size)) {
        @content;
    }
}
